<header class="header">
    <section class="header__logo">
        <span class="header__vector" (click)="redirectHome()">
            <mat-icon color="accent">extension</mat-icon>
        </span>
        <h3 class="header__logo-text">FORMBUILDER</h3>
    </section>
    <section class="header__right">
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>logout</mat-icon>
        </button>
    </section>
</header>