:host {
  display: block;
  width: 100%;
  height: 220px;
  max-height: 339px;
}

.left,
.right,
.space-between {
  display: flex;
  justify-content: left;
}

.space-between {
  justify-content: space-between;
}

.right {
  justify-content: right;
}
